.barchart {
    font-family: sans-serif;
    text-align: center;
  }
  .modalBackground101 {
    
    right:-10px;
    left:-420;
    top:300px;
    background-color: rgb(139, 201, 241);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1
  }
  
  .modalContainer101 {
    width: 900px;
    height: 440px;
    border-radius: 12px;
    background-color: rgb(234, 236, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 13px;
  }
  
  .modalContainer101 .title {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer101 .body {
    width:100px;
    top:80px;
    left: 280px;
    margin-left: 100px;
    flex: 50%;
    display: flex;
    justify-content: center;
    position:absolute;
    align-items: center;
    font-size: 15px;
    text-align: center;
  }
  
  .modalContainer101 .footer {
    margin: 40px;
    top: 375px;
    margin-left: 400px;
    flex: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer101 .footer button {
    width: 100px;
    height: 25px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
  }
  
  #okBtn {
    background-color: green;
  }
  h4{
    top:50px;
  }
  .title_of_column{
    top:-5px;
    left:390px;
    margin-left: 30px;
    position:absolute;
   }
  input[type=checkbox] {
    left:120px;
    position: absolute;
  }
  
  