.modalBackground41 {
    
    right:-10px;
    left:-420;
    top:300px;
    background-color: rgb(139, 201, 241);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1
  }
  
  .modalContainer4 {
    width: 320px;
    height: 150px;
    border-radius: 12px;
    background-color: rgb(234, 236, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 13px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer4 .body4 {
    position:absolute;
    margin-top: 50px;
    top:-10px;
    left:40px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
  }
  
  .modalContainer4 .footer4 {
    position:absolute;
    top:75px;
    left:70px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer4 .footer4 button {
  width:60px;
  height:30px;
  margin-left: 40px;
 
  border-radius:10px;
  padding: 5px;
  }
   
  #okBtn {
    background-color: green;
    border: 2px solid #58f558; 
  }
  
  